[submodule "third_party/BitNet"]
	path = third_party/BitNet
	url = https://github.com/microsoft/BitNet.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
